In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [4]:
pip install selenium

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)

In [5]:
url="https://www.flipkart.com/search?q=phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent,"html.parser")

In [6]:
products=[]
prices=[]
product=soup.find('div',attrs={'class':'_4rR01T'})
print(product.text)

realme C21 (Cross Black, 64 GB)

In [7]:
for a in soup.findAll('a', attrs={'class':'_1fQZEK'}):
  name=a.find('div',attrs={'class':'_4rR01T'})
  price=a.find('div',attrs={'class':'_30jeq3 _1_WHN1'})
  products.append(name.text)
  prices.append(price.text)

In [8]:
final=[]
for i in prices:
    i=i[1:]
    final.append(i)

In [9]:
df = pd.DataFrame({'Product Name':products,'Prices':final})
df.head()

                        Product Name  Prices
0    realme C21 (Cross Black, 64 GB)   9,999
1     realme C21 (Cross Blue, 64 GB)   9,999
2     realme C21 (Cross Blue, 32 GB)   8,999
3    realme C21 (Cross Black, 32 GB)   8,999
4  OPPO A53 (Moonlight Black, 64 GB)  10,990

In [11]:
df.to_csv('data.csv', index=False, encoding='utf-8')